@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cookie&family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sacramento&family=Shadows+Into+Light&display=swap');

:root {
    --font-three: "Shadows Into Light", cursive;
    --font-six: "Roboto Mono", monospace;
}

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-six);
    font-size: 1rem;
    text-align: center;
}

iframe {
    border: none;
}

header {
    background-color: rgb(242, 242, 248);
    border-bottom: 1px solid rgba(10, 4, 85,0.5);
    padding-bottom: 0.5rem;
    position: fixed;
    width: 100%;   
}

h1{
    color: rgba(10, 4, 85,1);
    font-family: var(--font-three);
    font-size: 2rem;  
}

h2{
    color: rgba(10, 4, 85,0.5);
    font-family: var(--font-three);
    font-size: 1.5rem;
}

article{
    padding-top: 7rem;
}

.scream{
    background-image: linear-gradient(to bottom right,rgba(182, 176, 253, 0.863),rgb(225, 225, 152));
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.scream > p:nth-child(even){
    color: red;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.chorus{
    background-image: linear-gradient(to bottom right,rgba(182, 176, 253, 0.863),rgb(227, 227, 224));
    padding: 1.5rem 0rem 1.5rem 0rem;
    text-transform: lowercase; 
}

.chorus:hover{
    color: rgba(10, 6, 66, 0.5);
    font-weight: bold;
    transition: all 0.5;
}
.chorus__txt{
    background: -webkit-linear-gradient(#2c1e6d, #545353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.candy{
    background: -webkit-linear-gradient(rgba(247, 164, 212, 0.863), rgb(93, 71, 50));
    justify-content: center;
    padding: 1.5rem 0rem 1.5rem 0rem;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.normal>p:nth-child(even){
    color:  rgba(10, 4, 85,0.5);
    font-weight: bold;
    
}
.normal{
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.normal__ass{
    background: -webkit-linear-gradient(rgba(143, 65, 65, 0.863), rgb(247, 47, 33));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
strong{
    background: pink;
    border-radius: 50%;
    color: coral;

}
.normal.lala{
    letter-spacing: 0.5rem;
    text-transform: lowercase;
}

footer{
    /* background-color: rgb(242, 242, 248); */
    background-color: rgba(57, 57, 109,0.5);
    color:white;
    font-family: var(--font-three);
    font-size: 1rem;
    height: 2rem;
    align-items: center;
}